#addFlower {
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1-1-1085x595.jpg");
  padding: 300px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainFormField {
    .redError {
      color: red;
    }
    .addBtn{margin-top: 30px;
       
    }
  }
}
